//room-fund
.section__room-fund {
    padding: 100px 0;

    @media (max-width:960px) {
      padding: 80px 0;
    }
    @media (max-width: 600px) {
      padding: 60px 0;
    }
    @media (max-width:320px) {
      padding: 50px 0;
    }
  }
  .room-fund__title {
    margin: 0;
    margin-bottom: 20px;
    
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #303030;

    @media (max-width: 960px) {
      font-size: 36px;
    }

    @media (max-width: 540px) {
      font-size: 32px;
      line-height: 42px;
    }
  }
  .room-fund__title span {
    color: #006CB5;
  }
  .room-fund__desc {
    margin: 0;
    margin-bottom: 30px;
    
    font-size: 18px;
    line-height: 30px;
    color: #303030;

    @media (max-width: 1366px) {
      margin-bottom: 40px;
    }

    @media (max-width: 960px) {
      font-size: 16px;
      font-weight: 26px;
      margin-bottom: 30px;
    }
  }
  .tab__wrapper {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F8FA;
    border: 1px solid #EFEFEF;
    border-radius: 5px;

    @media (max-width: 1366px) {
      margin-bottom: 40px;
    }

    @media (max-width: 960px) {
      margin-bottom: 47px;
    }

    @media (max-width: 768px) {
      justify-content: center;
    }

    p {
      margin: 0;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 30px;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      color: #303030;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .tab {
    margin: 0;
    padding: 0;
    padding-right: 30px;
    width: 500px;
    display: flex;
    justify-content: space-around;

    @media (max-width: 768px) {
      padding: 25px 10px;
      width: 100%;
      // justify-content: center;
    }
    @media (max-width: 450px) {
      padding: 20px 5px;
    }

    li {
      list-style-type: none;
      
      font-size: 18px;
      line-height: 25px;
      color: #7D7D7D;

      @media (max-width: 450px) {
        font-size: 15px;
        line-height: 20px;
      }

      @media (max-width: 450px) {
        font-size: 12px;
        // line-height: 15px;
      }
    }
  }

  .tablinks {
    color: #7D7D7D;
    border-bottom: 1px solid #7D7D7D;

    &:hover {
      font-weight: bold;
      color: #006CB5;
      border-bottom: 1px solid #006CB5;
    }

    &:focus {
      font-weight: bold;
      color: #006CB5;
      border-bottom: 1px solid #006CB5;
    }
  }

  .tabcontent {
    display: none;
  }

  .build-title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #303030;

    @media (max-width: 960px) {
      margin-bottom: 20px;
      font-size: 24px;
    }
    @media (max-width: 540px) {
      font-size: 20px;
    }
    span {
      line-height: 1;
      margin-left: 10px;
      text-align: center;
      padding: .5rem 1.3rem;
      background: linear-gradient(90.09deg, #006cb5 0.55%, #0081d8 100%);
      border-radius: 5px;
      color: #FFFFFF;
    }
  }
  
  
  
  .build{
    &__card-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-left: -5px;
      margin-right: -5px;
      @media (max-width: 600px) {
        margin: 0;
        .owl-nav{
          right: 0;
          bottom: -15px;
          position: absolute;
        }
      }
    }
    &__badge {
      position: absolute;
      top: 5%;
      left: 7%;
      margin: 0;
      padding: 5px 10px;
      display: inline-block;
      font-size: 12px;
      line-height: 18px;
      color: #FFFFFF;
      background-color: #14A04C;
      border-radius: 5px;
  
      @media (max-width: 915px) {
        font-size: 10px;
      }
      @media (max-width: 600px) {
        padding: 5px 5px;
        top: 15px;
        left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    &__card {
      position: relative;
      width: calc(100% / 4 - 10px);
      margin: 0 5px 20px 5px;
      margin-left: 5px;
      margin-right: 5px;
      background-color: #FFFFFF;
      border: 1px solid #EAEAEA;
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
      &.ui-flex-empty{
        display: none;
      }
      @media (max-width: 1100px) {
        width: calc(33.33% - 10px);
      }
      @media (max-width: 860px) {
        width: calc(50% - 10px);
      }
      @media (max-width: 600px) {
        width: auto;
        margin: 0 0 20px 0;
      }
    }
    &__img {
      width: 100%;
      height: 220px;
      display: block;
      margin-bottom: 20px;
      position: relative;
      overflow: hidden;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &__title {
      max-width: 256px;
      margin: 0;
      margin-bottom: 10px;
      font-weight: 800;
      font-size: 20px;
      line-height: 30px;
      color: #303030;
      padding: 0 20px;
      @media (max-width: 1366px) {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 13px;
      }
      @media (max-width: 1090px) {
        font-size: 16px;
        margin-bottom: 10px;
      }
      @media (max-width: 780px) {
        padding: 0 10px;
      }
      @media (max-width: 444px) {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 5px;
      }
    }
    &__desc {
      margin-bottom: 15px;
      padding: 0 20px;
      font-size: 14px;
      line-height: 22px;
      color: #303030;
  
      @media (max-width: 1366px) {
        margin-bottom: 13px;
      }
  
      @media (max-width: 1090px) {
        margin-bottom: 10px;
      }
      @media (max-width: 780px) {
        padding: 0 10px;
      }
      @media (max-width: 430px) {
        font-size: 12px;
        line-height: 20px;
      }
    }
    &__price {
      margin-bottom: 20px;
      font-size: 16px;
      display: flex;
      align-items: center;
      color: #006CB5;
      padding: 0 20px;
      @media (max-width: 1366px) {
        margin-bottom: 13px;
      }
  
      @media (max-width: 1090px) {
        margin-bottom: 10px;
      }
      @media (max-width: 780px) {
        padding: 0 10px;
      }
      @media (max-width: 450px) {
        font-size: 12px;
      }
      @media (max-width: 350px) {
        font-size: 10px;
        line-height: 20px;
      }
      span {
        font-size: 26px;
        font-weight: 700;
    
        @media (max-width: 450px) {
          font-size: 22px;
        }
        @media (max-width: 350px) {
          font-size: 16px;
        }
      }
    }
    &__btn{
      text-decoration: none;
      font-size: 18px;
      text-align: center;
      padding: 1rem 1.5rem;
      margin: auto 20px 0 20px;
      color: #FFFFFF;
      background: #2E95DB;
      box-shadow: 0px 4px 20px rgba(0, 61, 102, 0.15);
      border-radius: 5px;
      border: none;
      outline: none;
      cursor: pointer;
      font-weight: 700;
      &:hover {
        background-color: #006CB5;
      }
      &:active {
        background-color: #003A62;
      }
      @media (max-width: 1200px) {
        font-size: 16px;
      }
      @media (max-width: 1070px) {
        font-size: 14px;
      }
      @media (max-width: 780px) {
        margin: auto 15px 0 15px;
      }
    }
  }
  