//room-fund
.section__room-fund {
    padding: 100px 0;

    @media (max-width:960px) {
      padding: 80px 0;
    }
    @media (max-width:540px) {
      padding: 60px 0;
    }
    @media (max-width:320px) {
      padding: 50px 0;
    }
  }
  .room-fund__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #303030;

    @media (max-width: 960px) {
      font-size: 36px;
    }

    @media (max-width: 540px) {
      font-size: 32px;
      line-height: 42px;
    }
  }
  .room-fund__title span {
    color: #006CB5;
  }
  .room-fund__desc {
    margin: 0;
    margin-bottom: 30px;
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 30px;
    color: #303030;

    @media (max-width: 1366px) {
      margin-bottom: 40px;
    }

    @media (max-width: 960px) {
      font-size: 16px;
      font-weight: 26px;
      margin-bottom: 30px;
    }
  }
  .tab__wrapper {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F8FA;
    border: 1px solid #EFEFEF;
    border-radius: 5px;

    @media (max-width: 1366px) {
      margin-bottom: 40px;
    }

    @media (max-width: 960px) {
      margin-bottom: 47px;
    }

    @media (max-width: 768px) {
      justify-content: center;
    }

    p {
      margin: 0;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 30px;
      font-family: 'Open Sans';
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      color: #303030;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .tab {
    margin: 0;
    padding: 0;
    padding-right: 30px;
    width: 500px;
    display: flex;
    justify-content: space-around;

    @media (max-width: 768px) {
      padding: 25px 10px;
      // justify-content: center;
    }
    @media (max-width: 450px) {
      padding: 20px 5px;
    }

    li {
      list-style-type: none;
      font-family: 'Open Sans';
      font-size: 18px;
      line-height: 25px;
      color: #7D7D7D;

      @media (max-width: 450px) {
        font-size: 15px;
        line-height: 20px;
      }

      @media (max-width: 450px) {
        font-size: 12px;
        // line-height: 15px;
      }
    }
  }

  .tablinks {
    color: #7D7D7D;
    border-bottom: 1px solid #7D7D7D;

    &:hover {
      font-weight: bold;
      color: #006CB5;
      border-bottom: 1px solid #006CB5;
    }

    &:focus {
      font-weight: bold;
      color: #006CB5;
      border-bottom: 1px solid #006CB5;
    }
  }

  .tabcontent {
    display: none;
  }

  .build__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 29px;

    @media (max-width: 960px) {
      margin-bottom: 20px;
    }

  }
  .build__title p {
    margin: 0;
    margin-right: 10px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 30px;
    line-height: 56px;
    color: #303030;

    @media (max-width: 960px) {
      font-size: 24px;
      line-height: 44px;
    }
    @media (max-width: 540px) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .build__title span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 82px;
    height: 53px;
    font-size: 30px;
    background: linear-gradient(90.09deg, #006cb5 0.55%, #0081d8 100%);
    border-radius: 5px;
    color: #FFFFFF;

    @media (max-width: 960px) {
      width: 70px;
      height: 44px;
    }
    @media (max-width: 540px) {
      width: 68px;
      height: 43px;
    }
  }
  .build__card--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    @media (max-width: 780px) {
      justify-content: center;
    }
  }
  .build__card {
    margin-bottom: 29px;
    margin-right: 10px;
    position: relative;
    width: 24%;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 10px;

    @media (max-width: 1366px) {
      width: 22%;
    }
    @media (max-width: 860px) {
      width: 47%;
    }
    @media (max-width: 780px) {
      width: 45%;
    }

  }
  .build__badge {
    position: absolute;
    top: 35px;
    left: 30px;
    margin: 0;
    padding: 5px 10px;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    background-color: #14A04C;
    border-radius: 5px;

    @media (max-width: 915px) {
      top: 25px;
      left: 25px;
      font-size: 10px;
    }
    @media (max-width: 444px) {
      top: 5px;
      left: 5px;
      padding: 5px 5px;
    }
    @media (max-width: 444px) {
      display: none;
    }
  }
  .build__img {
    width: 100%;
    height: auto;
    display: block;
  }
  .build__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    @media (max-width: 1366px) {
      padding-bottom: 25px;
    }

    @media (max-width: 1090px) {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    @media (max-width: 430px) {
      padding-top: 15px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .build__title {
    max-width: 256px;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    color: #303030;

    @media (max-width: 1366px) {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 13px;
    }

    @media (max-width: 1090px) {
      font-size: 16px;
      margin-bottom: 10px;
    }
    @media (max-width: 444px) {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 5px;
    }
  }
  .build__desc {
    max-width: 256px;
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 22px;
    color: #303030;

    @media (max-width: 1366px) {
      margin-bottom: 13px;
    }

    @media (max-width: 1090px) {
      margin-bottom: 10px;
    }

    @media (max-width: 430px) {
      font-size: 12px;
      line-height: 20px;
    }
  }
  .build__price {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #006CB5;

    @media (max-width: 1366px) {
      margin-bottom: 13px;
    }

    @media (max-width: 1090px) {
      margin-bottom: 10px;
    }

    @media (max-width: 450px) {
      font-size: 12px;
    }
    @media (max-width: 350px) {
      font-size: 10px;
      line-height: 20px;
    }
  }
  .build__price span {
    font-size: 26px;
    font-weight: 700;

    @media (max-width: 450px) {
      font-size: 22px;
    }
    @media (max-width: 350px) {
      font-size: 16px;
    }
  }
  .build__link-btn {
    padding: 19px 31px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #2E95DB;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 61, 102, 0.15);
            box-shadow: 0px 4px 20px rgba(0, 61, 102, 0.15);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;

    @media (max-width: 1366px) {
      font-size: 16px;
      padding: 19px 15px;
    }

    @media (max-width: 1090px) {
      font-size: 14px;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 13px;
      padding-right: 13px;
    }

    @media (max-width: 915px) {
      font-size: 13px;
      width: 160px;
      padding-top: 7px;
      padding-bottom: 7px;
    }
    @media (max-width: 860px) {
      padding: 7px 30px;
      width: 100%;
    }

    @media (max-width: 525px) {
      padding: 7px 7px;
      width: 100%;
    }

    @media (max-width: 420px) {
      font-size: 10px;
    }

    @media (max-width: 356px) {
      padding: 4px;
    }
  }
  .build__link-btn:hover {
    background-color: #006CB5;
  }
  .build__link-btn:active {
    background-color: #003A62;
  }