//about-sanatorium
.section__about-sanatorium {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #fff;
  }
  @media (max-width: 1366px) {
    .section__about-sanatorium {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  @media (max-width: 960px) {
    .section__about-sanatorium {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
  @media (max-width: 540px) {
    .section__about-sanatorium {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  @media (max-width: 320px) {
    .section__about-sanatorium {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  .about-sanatorium__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 100px;
  }
  .about-sanatorium__row:last-child {
    margin-bottom: 0;
  }
  @media (max-width: 780px) {
    .about-sanatorium__row-top {
      display: none;
    }
  }
  .about-sanatorium__center-col {
    display: none;
  }
  @media (max-width: 780px) {
    .about-sanatorium__center-col {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 20px;
    }
  }
  .about-sanatorium__left-col {
    max-width: 377px;
    margin-right: 20px;
  }
  .about-sanatorium__title {
    margin: 0;
    margin-bottom: 30px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 48px;
    line-height: 30px;
    color: #303030;
  }
  @media (max-width: 1366px) {
    .about-sanatorium__title {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 960px) {
    .about-sanatorium__title {
      font-size: 36px;
    }
  }
  @media (max-width: 960px) {
    .about-sanatorium__title {
      margin-bottom: 25px;
    }
  }
  @media (max-width: 960px) {
    .about-sanatorium__title {
      font-size: 36px;
    }
  }
  @media (max-width: 540px) {
    .about-sanatorium__title {
      font-size: 32px;
      margin-bottom: 30px;
    }
  }
  @media (max-width: 320px) {
    .about-sanatorium__title {
      font-size: 32px;
    }
  }
  .about-sanatorium__par {
    margin: 0;
    margin-bottom: 25px;
    font-family: 'Open Sans';
    font-weight: semi-bold;
    font-size: 18px;
    line-height: 30px;
    color: #303030;
  }
  @media (max-width: 960px) {
    .about-sanatorium__par {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 26px;
    }
  }
  @media (max-width: 540px) {
    .about-sanatorium__par {
      margin-bottom: 25px;
      line-height: 24px;
    }
  }
  @media (max-width: 320px) {
    .about-sanatorium__par {
      margin-bottom: 20px;
    }
  }
  .about-sanatorium__btn {
    width: 235px;
    padding: 19px 0;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    background: #2E95DB;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 61, 102, 0.15);
            box-shadow: 0px 4px 20px rgba(0, 61, 102, 0.15);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .about-sanatorium__btn:hover {
    background: #006CB5;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 61, 102, 0.15);
            box-shadow: 0px 4px 20px rgba(0, 61, 102, 0.15);
    border-radius: 5px;
  }
  .about-sanatorium__btn:active {
    background: #003A62;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 61, 102, 0.15);
            box-shadow: 0px 4px 20px rgba(0, 61, 102, 0.15);
    border-radius: 5px;
  }
  @media (max-width: 540px) {
    .about-sanatorium__btn {
      width: 142px;
    }
  }
  .about-sanatorium__right-col {
    position: relative;
    width: 877px;
    height: 650px;
    background-image: url('../img/blue-square.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 60% 60%;
    border-radius: 10px;
  }
  @media (max-width: 1366px) {
    .about-sanatorium__right-col {
      width: 687px;
      height: 555px;
    }
  }
  @media (max-width: 1060px) {
    .about-sanatorium__right-col {
      width: 587px;
      height: 485px;
    }
  }
  @media (max-width: 960px) {
    .about-sanatorium__right-col {
      width: 453px;
      height: 430px;
    }
  }
  @media (max-width: 780px) {
    .about-sanatorium__right-col {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  }
  .video_wrapper {
    width: 867px;
    height: 640px;
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
    background-color: #000;
    border-radius: 10px;
  }
  @media (max-width: 1366px) {
    .video_wrapper {
      width: 98.8%;
      height: 100%;
      margin-top: 6px;
    }
  }
  .video_wrapper_full {
    padding-top: 315px;
  }
  .videoIframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .videoPoster {
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../img/about-video.jpg');
    background-size: cover;
    background-position: center;
    border: none;
    outline: none;
    text-indent: -999em;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 800ms, height 0s;
    transition: opacity 800ms, height 0s;
    -webkit-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
  }
  .videoPoster:hover {
    cursor: pointer;
  }
  .videoPoster:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border: 5px solid #006CB5;
    background-color: #006CB5;
    border-radius: 100%;
    -webkit-transition: border-color 300ms;
    transition: border-color 300ms;
  }
  .videoPoster:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin: -20px 0 0 -10px;
    border-left: 40px solid #fff;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    -webkit-transition: border-color 300ms;
    transition: border-color 300ms;
  }
  .videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms;
  }
  .about__block-link-wrapper {
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .about__block-link-wrapper:hover {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  .about__block {
    max-width: 296px;
    min-height: 364px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #EAEAEA;
  }
  .about__block:last-child {
    margin-right: 0;
  }
  .about__block:hover {
    background-color: #2E95DB;
  }
  .about__block-content {
    border: 2px solid transparent;
  }
  .about__block:hover .about__block-content {
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #2E95DB;
  }
  .about__block-title {
    margin: 0;
    padding-bottom: 15px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    color: #232A34;
  }
  .about__block:hover .about__block-title {
    color: #fff;
  }
  .about__block-par {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 22px;
    color: #232A34;
  }
  .about__block:hover .about__block-par {
    color: #fff;
  }
  .about__block-btn {
    display: block;
    padding: 19px 66px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 26px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    background-color: #2E95DB;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 61, 102, 0.15);
            box-shadow: 0px 4px 20px rgba(0, 61, 102, 0.15);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .about__block:hover .about__block-btn {
    background-color: #fff;
    color: #2E95DB;
  }