//sanatorium-progs
.section__sanatorium-progs {
    padding: 80px 0;
    background-color: #FAFAFA;
  }
  .sanatorium-progs__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
  }
  .sanatorium-progs__left-col {
    max-width: 433px;
    z-index: 9;
    position: relative;
  }
  .sanatorium-progs__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #303030;
  }
  .sanatorium-progs__title span {
    color: #006CB5;
  }
  .sanatorium-progs__desc p {
    margin: 0;
    margin-bottom: 1.5em;
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 30px;
    color: #303030;
  }
  .sanatorium-progs__desc p:last-child {
    margin-bottom: 0;
  }
  .sanatorium-progs__bg-number {
    margin-top: 40px;
    margin-left: 313px;
    position: absolute;
    z-index: 1;
  }
  .sanatorium-progs__right-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 9;
    position: relative;
  }
  .sanatorium-progs__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 730px;
  }
  .progs__block-link-wrapper {
    width: 229px;
    height: 207px;
  }
  .progs__block {
    width: 229px;
    height: 207px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #EAEAEA;
  }
  .progs__block:last-child {
    margin-right: 0;
  }
  .progs__block:hover {
    background-color: #2E95DB;
  }
  .progs__block-content {
    padding: 6px;
    border: 2px solid transparent;
  }
  .progs__block:hover .progs__block-content {
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #2E95DB;
  }
  .progs__block-numbering {
    margin: 0;
    margin-bottom: 25px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #FF3333;
  }
  .progs__block:hover .progs__block-numbering {
    color: #fff;
  }
  .progs__block-title {
    margin: 0;
    margin-bottom: 25px;
    width: 176px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #303030;
  }
  .progs__block:hover .progs__block-title {
    color: #fff;
  }
  .progs__block-btn {
    width: 111px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #2E95DB;
  }
  .progs__block-btn p {
    margin: 0;
    margin-right: 15px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #2E95DB;
  }
  .progs__block-svg1 {
    height: 10px;
  }

  .progs__block-svg2 {
    height: 10px;
    display: none;
  }
  .progs__block:hover .progs__block-svg1 {
    display: none;
  }
  .progs__block:hover .progs__block-svg2 {
    display: inline;
  }
  .progs__block:hover .progs__block-btn {
    border-color: #fff;
  }
  .progs__block:hover .progs__block-btn p {
    color: #fff;
  }
  .sanatorium-progs__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 23px 0;
    background-image: url('../img/sanatorium-progs-bottom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
  .sanatorium-progs__bottom-title {
    margin: 0;
    max-width: 577px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
  }
  .sanatorium-progs__bottom-title span {
    font-weight: 800;
    color: #FED576;
  }
  .sanatorium-progs__bottom-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sanatorium-progs__bottom-form input {
    width: 363px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 25px;
    font-size: 18px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;
    outline: none;
  }
  .sanatorium-progs__bottom-form input[type="number"]::-webkit-outer-spin-button,
  .sanatorium-progs__bottom-form input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .sanatorium-progs__bottom-form input[type="number"] {
    -moz-appearance: textfield;
  }
  .sanatorium-progs__bottom-form input[type="number"]:hover,
  .sanatorium-progs__bottom-form input[type="number"]:focus {
    -moz-appearance: number-input;
  }
  .sanatorium-progs__bottom-form input[type=number]::-webkit-inner-spin-button,
  .sanatorium-progs__bottom-form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .sanatorium-progs__bottom-form button {
    padding: 17px 40px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #2E95DB;
    border-radius: 0px 5px 5px 0px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .sanatorium-progs__bottom-form button:hover {
    background-color: #006CB5;
  }
  .sanatorium-progs__bottom-form button:active {
    background-color: #003a62;
  }