.section-sanatorium-infrastructure {
  padding: 80px 0;
  background: #FAFAFA;

  h2 {
    margin-bottom: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #303030;

    .blue-text {
      color: #006CB5;
    }
  }

  .about-sanatorium-text {
    margin-bottom: 30px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #303030;
  }

  .infrastructure-map {
    position: relative;

    .map-img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      @media (max-width: 600px){
        border-radius: 0;
      }
    }

    .infrastructure-item {
      position: absolute;
      z-index: 5;

      .title-item {
        background: #2E95DB;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 10px;
        display: inline-block;
        padding: 8px 25px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        color: #FFFFFF;
        cursor: pointer;
        transition: all .2s ease;
        z-index: 5;

        .plus, .minus {
          display: none;
        }

        &:hover {
          background: #003A62;
        }
      }

      .about-item {
        display: none;
        background: #FFFFFF;
        border-radius: 0 10px 10px 10px;
        position: absolute;
        left: 0;
        top: 40px;
        z-index: -1;
        padding: 45px 30px 30px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;

        &.right {
          right: 0;
          left: auto;
          border-radius: 10px 0px 10px 10px;
        }

        .about-text {
          margin-bottom: 10px;
          line-height: 20px;
        }

        .about-title {
          margin-bottom: 15px;
          font-weight: 600;
          font-size: 22px;
          line-height: 30px;
          color: #303030;
        }

        .title-item-mobile {
          margin-bottom: 10px;
          color: #006CB5;
          font-weight: bold;
          font-size: 18px;
          display: none;
          line-height: 1.2;
        }

        .rooms-block {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;

          .room-href {
            display: block;
            position: relative;
            margin-bottom: 10px;
            padding-left: 15px;
            color: #303030;
            text-decoration: none;
            cursor: pointer;
            transition: all .2s ease;

            &:hover {
              color: #006CB5;
              text-decoration: underline;
            }

            &:before {
              content: "";
              left: 0;
              top: 11px;
              position: absolute;
              width: 10px;
              height: 2px;
              z-index: 5;
              background: #2E95DB;
              border-radius: 3px;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }

          p.room-href {
            cursor: default;

            &:hover {
              color: #303030;
              text-decoration: none;
            }
          }

          .column {
            flex: 0 0 calc(50% - 15px);
            max-width: calc(50% - 15px);

            &.w-100 {
              flex: 0 0 100%;
              max-width: 100%;
            }
          }
        }
      }

      &.open {
        z-index: 10;

        .title-item {
          background: #003A62;
        }
      }


      &.item-1 {
        left: 10%;
        top: 32%;
        @media (max-width: 1200px){
          left: 20%;
          top: 25%;
        }
        .about-item {
          width: 646px;
        }
      }

      &.item-2 {
        left: 10%;
        top: 60%;
        @media (max-width: 1200px){
          left: 13%;
        }
        .about-item {
          width: 425px;
        }
      }

      &.item-3 {
        left: 33%;
        top: 40%;
        @media (max-width: 1200px){
          left: 35%;
        }
        .about-item {
          width: 430px;
        }
      }

      &.item-4 {
        left: 63%;
        top: 35%;

        .about-item {
          width: 237px;
        }
      }

      &.item-5 {
        left: 75%;
        top: 20%;

        .about-item {
          width: 480px;
        }
      }

      &.item-6 {
        left: 83%;
        top: 30%;

        .about-item {
          width: 480px;
        }
      }

      &.item-7 {
        left: 33%;
        top: 25%;
        @media (max-width: 1200px){
          top: 25%;
          left: 33%;
        }
        .about-item {
          width: 378px;
        }
      }

      &.item-8 {
        left: 90%;
        top: 50%;

        .about-item {
          width: 246px;
        }
      }

      &.item-9 {
        left: 8%;
        top: 48%;
        @media (max-width: 1200px){
          top: 45%;
        }
        .about-item {
          width: 336px;
        }
      }
    }
  }
}

@media (max-width: 1400px) {

  .section-sanatorium-infrastructure {
    padding: 50px 0;
  }

  

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .title-item {
    padding: 8px 23px;
    font-size: 16px;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .about-item {
    padding: 40px 30px 25px;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .about-item .about-title {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {

  //Инфраструктура санатория
  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .title-item {
    padding: 0px;
    display: flex;
    width: 39px;
    height: 39px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 17px;

    .text-desktop {
      display: none;
    }

    .plus {
      display: inline;
    }
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item.open {
    .title-item {
      .plus {
        display: none;
      }

      .minus {
        display: inline;
      }
    }
  }

  .section-sanatorium-infrastructure {
    padding: 40px 0;
  }

  .section-sanatorium-infrastructure h2 {
    font-size: 36px;
  }

  .section-sanatorium-infrastructure .about-sanatorium-text {
    font-size: 16px;
    line-height: 26px;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .about-item {
    width: 325px !important;
    max-height: 305px;
    overflow: hidden;
    padding: 30px 20px 10px;
    line-height: 22px;
    top: 33px;

    .scroll-block {
      overflow-x: hidden;
      overflow-y: auto;
      max-height: calc(305px - 30px - 10px);

      &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-track-piece {
        background-color: #EFEFEF;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb {
        height: 50px;
        background-color: #2E95DB;
        border-radius: 5px;
      }
    }
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .about-item .about-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .about-item .rooms-block .column {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .about-item .rooms-block {
    flex-wrap: wrap;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .about-item .rooms-block .room-href:last-child {
    margin-bottom: 10px;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item.item-2 .about-item {
    top: auto;
    bottom: 37px;
    border-radius: 10px 10px 10px 0px;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item.item-4 .about-item {
    left: auto;
    right: 0;
    border-radius: 10px 0 10px 10px;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item.open .title-item .minus {
    padding-bottom: 4px;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .about-item .title-item-mobile {
    display: block;
  }
}

@media (max-width: 992px) {
  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .title-item {
    width: 32px;
    height: 32px;
    font-size: 16px;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .about-item {
    box-shadow: 0px 11px 30px rgba(0, 0, 0, 0.05), 0px 6px 25px rgba(0, 0, 0, 0.05), 0px 2px 25px rgba(0, 0, 0, 0.05);
  }
}

@media (max-width: 768px) {

  .section-sanatorium-infrastructure h2 {
    font-size: 32px;
    line-height: 42px;
  }

  .section-sanatorium-infrastructure .about-sanatorium-text {
    line-height: 24px;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .title-item {
    width: 29px;
    height: 29px;
    border-radius: 7px;
    font-size: 17px;
    line-height: 1;
    outline: none;
  }

  
  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .about-item {
    font-size: 12px;
    line-height: 22px;
    padding: 20px 15px 10px;
    width: 282px !important;
    max-height: 286px;
    top: 27px;
    box-shadow: 0px 11px 30px rgba(0, 0, 0, 0.05), 0px 6px 25px rgba(0, 0, 0, 0.05), 0px 2px 25px rgba(0, 0, 0, 0.05);
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .about-item .scroll-block {
    max-height: calc(286px - 30px);
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item.item-8 .about-item,
  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item.item-2 .about-item {
    top: auto;
    bottom: 28px;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item.item-8 .about-item {
    border-radius: 10px 10px 0 10px;
  }
}

@media (max-width: 576px) {
  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .about-item {
    width: 275px !important;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item.item-3 .about-item {
    width: 225px !important;
  }
}

@media (max-width: 455px) {
  .section-sanatorium-infrastructure .about-sanatorium-text {
    margin-bottom: 20px;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .about-item {
    width: 232px !important;
    max-height: 249px;
    padding: 20px 15px 5px;
    font-size: 10px;
    line-height: 18px;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .about-item .scroll-block {
    max-height: calc(249px - 25px);
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .about-item .about-text {
    line-height: 13px;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .about-item .rooms-block .room-href:before {
    top: 8px;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item.item-3 .about-item {
    width: 230px !important;
  }
}

@media (max-width: 355px) {
  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item.item-7 .about-item,
  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item.item-4 .about-item {
    width: 200px !important;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item.item-3 .about-item {
    width: 200px !important;
    top: auto;
    bottom: 31px;
    border-radius: 10px 10px 10px 0;
  }

  .section-sanatorium-infrastructure .infrastructure-map .infrastructure-item .about-item .title-item-mobile {
    font-size: 17px;
  }
}